.loading-div {
    height: 100vh;
    color: #eee;
}

#custom-overlay {
    opacity: 0.7;
    background-color: #000;
}

.loading-spinner {
    font-size: 12px;
    margin: 25% auto 0 auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #00ff00, 2em -2em 0 0em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 0em #00ff00;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #00ff00, 2em -2em 0 0.2em #00ff00, 3em 0em 0 0em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 0em #00ff00, 3em 0em 0 0.2em #00ff00, 2em 2em 0 0em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 0em #00ff00, 2em 2em 0 0.2em #00ff00, 0em 3em 0 0em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 0em #00ff00, 0em 3em 0 0.2em #00ff00, -2em 2em 0 0em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 0em #00ff00, -2em 2em 0 0.2em #00ff00, -3em 0em 0 0em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 0em #00ff00, -3em 0em 0 0.2em #00ff00, -2em -2em 0 0em #00ff00;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 0em #00ff00, -3em 0em 0 0em #00ff00, -2em -2em 0 0.2em #00ff00;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #00ff00, 2em -2em 0 0em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 0em #00ff00;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #00ff00, 2em -2em 0 0.2em #00ff00, 3em 0em 0 0em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 0em #00ff00, 3em 0em 0 0.2em #00ff00, 2em 2em 0 0em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 0em #00ff00, 2em 2em 0 0.2em #00ff00, 0em 3em 0 0em #00ff00, -2em 2em 0 -0.5em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 0em #00ff00, 0em 3em 0 0.2em #00ff00, -2em 2em 0 0em #00ff00, -3em 0em 0 -0.5em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 0em #00ff00, -2em 2em 0 0.2em #00ff00, -3em 0em 0 0em #00ff00, -2em -2em 0 -0.5em #00ff00;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 0em #00ff00, -3em 0em 0 0.2em #00ff00, -2em -2em 0 0em #00ff00;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #00ff00, 2em -2em 0 -0.5em #00ff00, 3em 0em 0 -0.5em #00ff00, 2em 2em 0 -0.5em #00ff00, 0em 3em 0 -0.5em #00ff00, -2em 2em 0 0em #00ff00, -3em 0em 0 0em #00ff00, -2em -2em 0 0.2em #00ff00;
    }
}
